*{
    box-sizing:border-box;
}
h1{
    font-family: 'Big shoulders Display', cursive;
    text-align: center;
    color: rgb(235, 232, 232);
    text-shadow: 1px 1px 3px rgb(226, 21, 21);

}
h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color:rgb(231, 214, 214);
    font-size:25px;
    text-shadow: 5px 5px 2px rgb(226, 21, 21);
    
}
p{
    font-family:'Playfair Display', serif;
    color:#e6e6de;
    font-size: 20px;

}
#biosect{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 23px;
}
body {
    margin:0;
    background-color: #1749BC;
    position: relative;
    
}
#allbody {   
    width:100%;    
}
.featpic {
    background-color: bisque;
    height: 157px; 
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-size:cover;    
}
#hmfeatpic {
    background-image: url('skydiving3.JPG');
    padding: 300px 0px 320px 0;
    background-position: bottom;
   background-position:center;
}
#hobfeatpic{
    background-image: url('lit1.jpg');
    background-position: top;
    padding: 310px 0 310px 0; 
    margin-bottom: 22px;   

}
#abfeatpic {
    background-image: url('picprot.jpg');
    background-position: top;
    padding: 300px 0 300px 0; 
    background-attachment: fixed;
    background-color:#f4f3f1;

    background-size:contain;  
}
.menubar {
    text-align : center;
    box-shadow: 0 10px 10px 0 rgba(61, 23, 23, 0.2);
  
    
}
ul li {
    display: inline;
    margin-right: 10px;
    font-size: 25px;
    text-shadow: 2px 2px 8px black;
    
}

li a {
    text-align: center;
    text-decoration: none; 
    color:white;  

}
.menubar a:hover {
    background-color:#1749BC;
    color: white;
    text-shadow: 12px #f88bbe;
}

#gallery {
    margin:0 auto;
   width: 90%; 
   padding-bottom:9px;     
}
.allgal img {
    width: 100%;    
    height: 400px;        
}
.allgal {
    float: left;
    width: 30%;     
    padding: 10px; 
}
#foot {
    position:absolute;
    bottom:-130%;      
}
#foothob {
    position:absolute;
    bottom:-125%;     
}
#footab {
    position: absolute;
    bottom: -10%; 
    
}

footer {    
    background-color: black;
    color: #A8A6DD;
    text-align: center;
    width: 100%;
    padding: 15px;
}
#sitlink {
    position:absolute;
    bottom: -115%;
    left: 40%;    
    text-align: center;      
    background-color: rgba(221, 219, 206, 0.308);      
}
#sitlink a{
    text-decoration: none;
    font-size: 22px;
    color: rgb(241, 241, 232);
    padding:12px;
}
#sitlink a:hover {
    text-decoration: underline;
    color: rgb(240, 20, 20);
    text-shadow: 1px 1px 1px black;
}
.desc {
    text-align: center; 
    padding:-12px;  
    color: #f0eff5; 
    box-shadow: 0 12px 12px 0 rgba(8, 8, 8, 0.2);
}

